@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is located in Rexburg Idaho. It's most commonly known as the lame school in Rexburg
            Idaho.
            There is nothing to do there. Very little activities.

    </div>
    <div class="col-md-4">
        <h2>Degress</h2>
        <p>The only degree available is Accounting.</p>
    </div>
    <div class="col-md-4">
        <h2>Dating Scene</h2>
        <p>There are no cute boys. </p>
    </div>

    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Shack_in_Pigeon_Forge%2C_TN_by_Zachary_Davies.jpg"
        alt="">
</div>