@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is located in Rexburg Idaho. It's most commonly known as the lame school in Rexburg
            Idaho.
            There is nothing to do there. Very little activities.

    </div>
    <div class="col-md-4">
        <h2>Degress</h2>
        <p>The only degree available is Accounting.</p>
    </div>
    <div class="col-md-4">
        <h2>Dating Scene</h2>
        <p>There are no cute boys. </p>
    </div>

    <img src="https://images.unsplash.com/20/cambridge.JPG?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1147&q=80"
        alt="Image of a university">
</div>